.row{
    padding: 20px;
    background-color: #05173b;
    margin: 0px;
    color: white;
}
h1, h3{
    display: inline;
}
.informacion{
    display: flex;
    justify-content: flex-end;
}
.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}