<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#033178'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="650"
            [title]="'HTML'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [showUnits]="false"
            [titleFontSize]="'2em'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#033178'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="650"
            [title]="'CSS'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [showUnits]="false"
            [titleFontSize]="'2em'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#033178'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="650"
            [title]="'JS'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [showUnits]="false"
            [titleFontSize]="'2em'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#033178'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="650"
            [title]="'GITHUB'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [showUnits]="false"
            [titleFontSize]="'2em'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#033178'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="650"
            [title]="'GRUPAL'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [showUnits]="false"
            [titleFontSize]="'2em'"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#033178'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="650"
            [title]="'INGLÉS'"
            [titleColor]="'white'"
            [showSubtitle]="false"
            [showUnits]="false"
            [titleFontSize]="'2em'"
        ></circle-progress>
    </div>
    
    

</div>