<div class="row">
    <h1>Formacion Educativa</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Educacion 1</h1> - <h3>años</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempora error animi repellendus ex eum accusantium, est corrupti magni nesciunt, pariatur similique, cumque saepe? Reiciendis magni obcaecati recusandae minus voluptate.</p>
        </ul>
        <ul>
            <li><h1>Educacion 2</h1> - <h3>años</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempora error animi repellendus ex eum accusantium, est corrupti magni nesciunt, pariatur similique, cumque saepe? Reiciendis magni obcaecati recusandae minus voluptate.</p>
        </ul>
        <ul>
            <li><h1>Educacion 2</h1> - <h3>años</h3></li>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi tempora error animi repellendus ex eum accusantium, est corrupti magni nesciunt, pariatur similique, cumque saepe? Reiciendis magni obcaecati recusandae minus voluptate.</p>
        </ul>
    </div>
</div>

