<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7
        parte1">
            <h1>Portfolio Argentina Programa</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla deserunt soluta neque. Culpa ullam quas quos tempora iure natus aut, omnis voluptas soluta nulla tempore dolorum unde voluptates, totam pariatur!</p>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7
        parte2">

        </div>
    </div>
</div>